@tailwind base;
@tailwind components;
@tailwind utilities;

.tabs-container {
  display: flex;
  gap: 24px;
  padding-bottom: 0px;
}

.tab-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  padding: 8px 4px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s;
}

.tab-item:hover {
  color: #6e7277;
}

.tab-item.active {
  color: white;
}

.tab-item.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 3px 3px 0 0;
}

.tab-divider {
  width: calc(100% - 32px);
  height: 1px;
  background-color: #e0e0e0;
  margin: 0px auto 0 auto;
  border-radius: 2px;
}

.tab-icon {
  margin-right: 2px;
}


.markdown-content {
  color: #dbddf6;
}

.markdown-content h2 {
  color: white;
  margin-top: 0;
}

.markdown-content strong {
  color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
