@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-vertical-blue {
    background-image: linear-gradient(to bottom, #7192E9, #4469CA);
  }
  
  .gradient-horizontal-light-1 {
    background-image: linear-gradient(to right, #dae0f2, #dbe1f2);
  }
  
  .gradient-horizontal-light-2 {
    background-image: linear-gradient(to right, #c8d1ea, #ccd1eb);
  }
  
  .gradient-horizontal-bold {
    background-image: linear-gradient(to right, #7d91e2, #627ed4);
  }
  
  